<% a_movie = Movie.find(params[:id]) %>
<h1>
  Movie #<%= a_movie.id %>
  details
</h1>

<a href="/movies">
  Go back
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= a_movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= a_movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= a_movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= a_movie.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= a_movie.image %>" style="width:250px;">
  </dd>

  <% directors = Director.where(id: a_movie.director_id) %>
  <dt>
    Director
  </dt>
  <dd>
    <%= directors.first.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= a_movie.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= a_movie.updated_at %>
  </dd>
</dl>
